@import url('https://fonts.googleapis.com/css?family=Lobster|Lora|Merriweather:300,400|Poppins:300,400,700|Roboto+Slab:400,700|Slabo+27px');

#welcome {
	font-family: Merriweather, serif;
	text-align: center;
	font-size: 70px;
	opacity: 0.0;
}

div {
	display: block;
	background-color: darkred;
	margin: auto;
	height: 1em;
	width: 0em;
}
